.container
{
	display:flex !important;
	align-items: flex-start !important;
	flex-direction: column;
	justify-content: flex-start !important;

	min-width:332px !important;
	width:auto !important;
	height:auto !important;
	padding: 10px 10px 10px 10px;
	position:absolute !important;

	z-index: 9999; 
	color:#555 !important;
	background-color: rgba(31, 33, 45, 0.98) !important;
	border-radius: 20px !important;
}

.header, .subheader
{
	display:flex !important;
	align-items: flex-start !important;
	justify-content: flex-start !important;

	min-width:332px !important;
	width:auto !important;
	height:auto !important;
	padding:0px !important;
	margin:0 !important;

	z-index: 9999; 
	color:#333 !important;
	background-color: transparent !important;
	border-radius: 10px !important;
}

.header {
	flex-direction: column;
}

.subheader 
{
	flex-direction: row;
}


.primary
{
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important; 
	line-height: 24px ;
	font-size: 14px;

	overflow:auto !important;
	text-align: left !important;

	background:transparent !important;
	visibility: visible !important;

	width:auto !important;
	height:auto !important;
	padding:0 !important;
	margin:0 !important;
	z-index:9999 !important;
}

.title
{
	font-size: 16px !important;
	color: #4ADC71 !important; 
	flex: 3;
}

.subtitle
{
	font-size: 13px !important;
	color: #CCCCCC !important; 
}

.flex { display: flex !important; }
.none { display: none !important; }

.aqua_color { 
	color: #61cbe0 !important; 
	display: contents !important;
 }  
.purple_color { 
	color: #BD93F9 !important;
	display: contents !important;
}

.white_color {
	line-height: 20px !important;
	font-size: 13px !important;
	color: #dfdfdf !important;
}

.footer
{
	padding-top:5px;
	color:#555 !important;
	text-align:center !important;
	width:332px !important;
	height:30px !important;
	display:flex !important;
}

#CSSViewer_block ul
{
	padding:0px 0px 0px 0px !important;
	list-style:none !important;
	width:332px !important;
}

.containerItemValue {
	display: flex; 
	width: 100%;
	flex-direction: row !important;
	align-items: flex-start !important;
	flex-wrap: wrap !important;
}

.cssViewerbtn {
  background-color: transparent;
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 5px 8px 5px 8px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.cssViewerbtn:hover {
  background-color: rgba(46, 50, 71, 0.98)!important; ;
}
