.container
{
	display:flex !important;
	align-items: flex-start !important;
	flex-direction: column;
	justify-content: flex-start !important;

	min-width:332px !important;
	width:auto !important;
	height:auto !important;
	padding: 10px 10px 10px 10px;
	position:absolute !important;

	z-index: 9999; 
	color:#555 !important;
	background-color: rgba(31, 33, 45, 0.98) !important;
	border-radius: 20px !important;
}

.primary
{
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important; 
	line-height: 24px !important;
	font-size: 14px !important;

	overflow:auto !important;
	text-align: left !important;

	background:transparent !important;
	visibility: visible !important;

	width:auto !important;
	height:auto !important;
	padding:0 !important;
	margin:0 !important;
	z-index:9999 !important;
}

.title
{
	font-size: 16px !important;
	color: #4ADC71 !important; 
}

.subtitle
{
	font-size: 13px !important;
	color: #CCCCCC !important; 
}

.flex { display: flex !important; }
.none { display: none !important; }
.aqua_color { 
	color: #61cbe0 !important; 
	display: contents !important;
 }  
.purple_color { 
	color: #BD93F9 !important;
	display: contents !important;
}

.footer
{
	padding-top:5px;
	color:#555 !important;
	text-align:center !important;
	width:332px !important;
	height:30px !important;
	display:flex !important;
}

.CSSViewer_block ul
{
	padding:0px 0px 0px 0px !important;
	list-style:none !important;
	width:332px !important;
}

.containerItemValue {
	display: flex; 
	width: 100%;
	flex-direction: row !important;
	align-items: flex-start !important;
	flex-wrap: wrap !important;
}